  <header class="banner uk-background-secondary">
    <div class="page-heading">
      <h1 class="page-title">GMI Modena</h1>
      <h3 class="page-subtitle">PHP, Ajax, jQuery, CSS3, WordPress, MySQL</h3>
    </div>
  </header>

  <section class="project">
    <div class="uk-container">

      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="../../../assets/img/gmimodena.jpg" alt="Project Image">
        </div>
        <div class="uk-card-body">
          <h5 class="uk-text-muted uk-text-uppercase uk-text-small uk-text-truncate">GIOVENTÙ MUSICALE D'ITALIA</h5>
          <p>
            <strong>Objective: </strong>To have a minimal site that's easy to navigate, functional with all important
            info immediately available on site.
          </p>
          <p class="uk-text-muted">
            <strong>Details: </strong>A group made up of musicians and simple enthusiasts, who have designed and
            organized exhibitions, monographic cycles, music festivals, for a total - so far - of over 460 concerts of
            "cultured" music (even if the term sounds like that of "classical" music as is known, its not musically
            correct), without giving up some foray into other fields such as ethnic music, jazz, etc.
        </div>
        <div class="uk-card-footer">
          <a href="https://gmimodena.it/" target="_blank" class="uk-button uk-button-text">Visit
            Project</a>
        </div>
      </div>

    </div>
  </section>

